<!DOCTYPE html>
<html lang="es">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/util.css')}}" />
</head>
<body>
  
<div class="container-fluid text-center">   
    <div class="row">
    <div class="titulo col-md-4 lista-der">
            <h1></h1>
        <p class="enunciado repl ">
            Tenemos 5 naves ordenadas de cinco colores diferentes, cada una de ellas capitaneada por un alienígena de un planeta diferente.
            Cada uno de los capitanes bebe una bebida diferente, come una comida diferente y tiene una mascota diferente.
            Disponemos de las siguientes pistas:
            ¿De qué color es la nave del dueño del carvin salvaje?        </p>
    </div>
    <div class="col-md-4">
        <h1 class="titulo">Bomba 5</h1>
        <p class="enunciado repl">
        * El capitán de la nave del centro bebe mercurio líquido.<br/>
        * El romulano es el capitán de la primera nave.<br/>
        * El que come cereales de magnesio tiene una nave vecina con cronembergs.<br/>
        * El capitán que come calcio bebe nitrógeno líquido.<br/>
        * El capitán que tiene gromflomitos viaja junto al capitán que come barritas de litio.<br/>
        * El titerote come uranio.<br/>
        * El romulano viaja al lado de la nave azul.<br/>
        * El que come cereales de magnesio viaja junto a un capitán que bebe oro líquido.<br/>
                    Y por último la pregunta:<br/>
    
        </p>
    </div>
    <div class=" col-md-4 lista-der">
        <p class="enunciado repl lista">
        * El suboide viaja en la nave roja. <br/>
        * El selenita tiene como mascota una araña telepática.<br/>
        * El criteriano toma neodimio líquido.<br/>
        * La nave verde está delante de la blanca.<br/>
        * El capitán de la casa verde bebe hierro líquido.<br/>
        * El que come plomo tiene un herdike slampe.<br/>
        * El capitán de la casa amarilla como barritas de litio.<br/>
        </p>
    </div>
</div>
    <form action="javascript:enviarRespuesta()">
        <div class="row respuesta">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="enunciado repl">¿De qué color es la nave del dueño del carvin salvaje?
                </p>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" id="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Respuesta</span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row botones-bomba">
            <div class="col-md-2"></div>
            <div class="col-md-3 enviar">
                <button href="/"> Enviar </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3 regresar">
                <button href="/"> Volver </button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

</body>
</html>
