<!DOCTYPE html>
<html lang="es">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/util.css')}}" />
</head>
<body>
  
<div class="container-fluid text-center">   
    <div class="row">
    <div class="col-md-1"></div>
    <div class="titulo col-md-10">
        <h1>Bomba 1</h1>
        <p class="enunciado repl">
        En la primera nave alienígena que salió de su planeta con la misión de invadir el sistema solar, había 3 alienígenas, y tardaron 8 días en alcanzar la luna de Júpiter en la que están preparando sus ataques en este momento.
        El primero de los alienígenas a la salida aportó 5 lingotes de litio para alimentarse durante el camino, el segundo, 3 lingotes, y el tercero no aportó ninguno, pero prometió pagarles a sus compañeros al final del viaje 8 monedas por ponerlas en común. Cada uno de los días que duró el viaje, a la hora de comer sacaban un lingote de la bolsa, lo dividían en tres pedazos y cada alienígena se comía un pedazo. Cuando llegaron a su destino, el alienígena que no había aportado ningún lingote sacó las 8 monedas y las entregó a sus compañeros: 5 monedas para el que había puesto 5 lingotes y 3 monedas para el que había contribuido con 3 lingotes. 
        ¿Sería justo el reparto? Indica cuántas monedas le corresponden a cada uno.
        </p>
    </div>
    <div class="col-md-1"></div>
    </div>
    <form action="javascript:enviarRespuesta()">
        <div class="row respuesta">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" id="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Respuesta</span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row botones-bomba">
            <div class="col-md-2"></div>
            <div class="col-md-3 enviar">
                <button href="/"> Enviar </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3 regresar">
                <button href="/"> Volver </button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

</body>
</html>
